<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDx1Z_RldD38uf_-MuUfQr1MuaroqInjH0</string>
	<key>GCM_SENDER_ID</key>
	<string>813849372091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DevinGrischow.SwiftUI-Firebase-MVVM-Implementation-Demos-2024</string>
	<key>PROJECT_ID</key>
	<string>fir-openproject</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-openproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:813849372091:ios:cde980348d7069ba2d909e</string>
</dict>
</plist>
